Repository Armor-test/file-api-720, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/squad-apps, @Armor-test/dept-automation, @Armor-test/dept-data, @Armor-test/squad-search, @Armor-test/grp-storage, @Armor-test/squad-tooling, @Armor-test/dept-reporting, @Armor-test/grp-reporting, @Armor-test/team-core, @Armor-test/unit-devops, @Armor-test/squad-ux, @Armor-test/team-notifications, @Armor-test/squad-mobile, @Armor-test/dept-billing, @Armor-test/team-governance, @Armor-test/team-security, @Armor-test/dept-security, @Armor-test/squad-qa, @Armor-test/squad-reporting, @Armor-test/unit-governance, @Armor-test/unit-design, @Armor-test/squad-frontend, @Armor-test/grp-api, @Armor-test/dept-identity, @Armor-test/dept-logging, @Armor-test/dept-reliability, @Armor-test/dept-api, @Armor-test/squad-product, @Armor-test/dept-ui, @Armor-test/squad-ml, @Armor-test/dept-test, @Armor-test/dept-release, @Armor-test/squad-research, @Armor-test/squad-cloud, @Armor-test/unit-test, @Armor-test/unit-cloud, @Armor-test/grp-payments, @Armor-test/grp-integration, @Armor-test/grp-ui, @Armor-test/ci-team, @Armor-test/devops, @Armor-test/dependency-team, @Armor-test/security, @Armor-test/compliance

.github/CODEOWNERS:

# CODEOWNERS file for file-api-720
# Global owners - will be requested for all PRs
* @Armor-test/squad-apps @Armor-test/dept-automation @Armor-test/dept-data

# Directory ownership
/dist/ @Armor-test/squad-search @Armor-test/grp-storage @Armor-test/squad-tooling
/shared/ @Armor-test/dept-reporting @Armor-test/grp-reporting @Armor-test/team-core
/assets/ @Armor-test/unit-devops @Armor-test/squad-ux @Armor-test/team-notifications
/public/ @Armor-test/squad-mobile @Armor-test/dept-billing @Armor-test/squad-tooling
/src/ @Armor-test/team-governance @Armor-test/team-security
/pkg/ @Armor-test/dept-security @Armor-test/team-security @Armor-test/squad-qa
/extensions/ @Armor-test/team-governance @Armor-test/squad-reporting @Armor-test/unit-governance
/internal/ @Armor-test/unit-design @Armor-test/squad-frontend
/docs/ @Armor-test/squad-mobile @Armor-test/grp-api
/api/ @Armor-test/dept-identity @Armor-test/grp-reporting @Armor-test/dept-logging
/pages/ @Armor-test/squad-mobile @Armor-test/dept-reliability @Armor-test/dept-security

# File type ownership
*.sql @Armor-test/dept-api @Armor-test/squad-product
*.yaml @Armor-test/dept-ui @Armor-test/squad-mobile @Armor-test/squad-tooling
*.rb @Armor-test/grp-storage @Armor-test/squad-ml @Armor-test/squad-product
*.html @Armor-test/team-core @Armor-test/dept-test
*.cs @Armor-test/squad-product @Armor-test/squad-apps
*.scss @Armor-test/squad-tooling @Armor-test/dept-billing @Armor-test/dept-release
*.sh @Armor-test/dept-test @Armor-test/team-core
*.kt @Armor-test/squad-research @Armor-test/dept-ui
*.h @Armor-test/squad-cloud @Armor-test/unit-test @Armor-test/unit-cloud
*.php @Armor-test/team-core @Armor-test/squad-search @Armor-test/squad-qa
*.yml @Armor-test/grp-payments @Armor-test/grp-integration
*.ini @Armor-test/dept-identity @Armor-test/squad-ux
*.md @Armor-test/unit-design @Armor-test/squad-cloud
*.toml @Armor-test/unit-devops @Armor-test/grp-ui
*.go @Armor-test/squad-frontend @Armor-test/dept-logging

# Security and special files
.github/workflows/ @Armor-test/ci-team @Armor-test/devops
package.json @Armor-test/dependency-team @Armor-test/security
/src/**/security/ @Armor-test/security @Armor-test/compliance
Jenkinsfile @Armor-test/ci-team @Armor-test/devops

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/team-governance, @Armor-test/team-security

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/squad-mobile, @Armor-test/grp-api

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/squad-apps, @Armor-test/dept-automation, @Armor-test/dept-data

Add src/main.py
  src/main.py
Owners: @Armor-test/team-governance, @Armor-test/team-security

Add src/index.js
  src/index.js
Owners: @Armor-test/team-governance, @Armor-test/team-security
